// 
// COLLEGE COURSE ORIENTATION HELPER FOR LUMINA
// @author Thuan Hu <nunobaba@gmail.com>
// 

global-reset()
@import "fonts"

// --------------------------------
// Variables

$baseBgColor    = #fff
$baseFontSize   = 16px
$baseLineHeight = 1.36em
$baseFontFamily = "Open Sans", Arial, sans-serif

// Block dimensions
$px             = 1em / $baseFontSize
$u              = 1.6em
$hdrPadRight    = .56em + $u
$contentPad     = 13 * $u

$linkColor      = #190756
$linkColorHover = #4CAB99
$switchOffColor = #ccc
$switchOnColor  = #888

// Mixins
vertical_center(_height)
  position absolute
  top 50%
  margin-top -.5 * _height

// Mixin to automate tab animation
animate_header(tab)
  .fx-{tab}
    .hnav-it:not(.tab-{tab})
      animation slide_down .8s
      animation-fill-mode forwards
      animation-delay .16s
    .tab-{tab} ~ .hnav-it
      animation none
    .tab-{tab}
      position relative
      animation slide_gt .8s
      animation-fill-mode forwards


// --------------------------------
// Commons

*
  box-sizing border-box

html, body
  width 100%
  height 100%
  background-color $baseBgColor
  font-size $baseFontSize
  font-family $baseFontFamily

::before, ::after 
  content ""
  box-sizing border-box

a
  color $linkColor
  text-decoration none

.ptr
  cursor pointer

.serif
  font-family "Merriweather", Georgia, sans-serif
  line-height 1.28em

.ko
  visibility hidden
  opacity 0

.ok
  visibility visible
  opacity 1

.la, .ra
  position absolute
  top 0

.la
  left 0

.ra 
  right 0

.container
  height 100%


// --------------------------------
// Header

.hdr
  position fixed
  left 0
  top 0
  padding-top 2.8em
  padding-right $hdrPadRight
  width $contentPad
  height 100%
  background-color rgba(#111, .8)
  color #fff
  text-align right

.logo
  @extend .serif
  font-weight 700
  font-size 1.16 * $u
  strong
    display block

.sub
  position relative
  display inline-block
  margin-top 1.28em
  max-width 80%
  overflow-x hidden
  font-size 1.28em
  &:before
    content ""
    position absolute
    right 0
    top 0
    margin-top -.64em
    width 2.4em
    max-height 0
    border-top $px solid #aaa

.sub-motto
  @extend .serif

// This div block is hidden by default and transform-property
// performs better than transiting by position-absolute.
.sub-section
  position absolute
  right 0
  top 0
  font-weight 300
  transform translateX(100%)

.hnav
  position absolute
  bottom 1.6*$u
  right $hdrPadRight
  overflow-x hidden

.hnav-it a
  @extend .ptr
  font-weight 300
  font-size 1.4em
  line-height $u
  color #fff
  &:hover
    text-decoration none
    opacity .8

// --------------------------------
// Animations

[class*="fx"]
  .sub-motto
    animation slide_gt .8s
    animation-fill-mode forwards
  .sub-section
    animation slide_lt .8s
    animation-fill-mode forwards
    animation-delay .16s

animate_header("discover")

animate_header("about")




@keyframes slide_gt
  100%
    opacity 0
    transform translateX(100%)

@keyframes slide_lt
  100%
    opacity 1
    transform translateX(0)

@keyframes slide_vanish
  100%
    opacity 0
    transform translateX(100%)

@keyframes slide_down
  100%
    transform translateY(100%)



// --------------------------------
// Main Container

.content 
  margin-left $contentPad
  padding $u
  padding-left $hdrPadRight
  min-height 100%

.search
  position relative
  margin-top .16*$u
  font-size $u
  line-height 2.4em
  background-color #ddd
  &:before
    content "\f002" 
    float right
    padding-right .5*$u
    font-family "FontAwesome"
    text-align right

.search-box
  @extend .la
  z-index 2
  padding 0 .8em
  width 100%
  height 100%
  border-width 0
  background-color rgba(#fff, .64)
  font inherit
  &:focus
    background-color rgba(#FEFF69, .64)
    outline none

.search-msg
  position relative
  padding 0 .36*$u
  font-weight 300

.book-opts 
  padding $u .88*$u $u .5*$u

.book-res
  font-weight 300
  color #888

// TODO: Style book layout switcher
.book-switch
  float right
  &:before, &:after
    display inline-block
    vertical-align top
    font-family "FontAwesome"
    font-size 1.2em
  &:before
    content "\f009"
    padding-right .24em
    color $switchOnColor
  &:after
    content "\f00b"
    padding-left .24em
    color $switchOffColor
  &.aslist
    &:before
      color $switchOffColor
    &:after
      color $switchOnColor
    .book-switch-btn:after
      left 50%    

.book-switch-btn
  _width  = 1em
  _height = .8em
  position relative
  display inline-block
  width _width
  height _height
  &:before
    _trayHeight = _height / 4
    vertical_center _trayHeight
    width _width
    height _trayHeight
    background-color #eee
    border $px solid #ccc
  &:after
    vertical_center _height
    left 0
    width .5 * _width
    height _height
    background-color #ccc
  &:hover:after
    background-color #aaa

// TODO: Style card

// TODO: Multiple columnize cards
// http://cssdeck.com/labs/css-only-pinterest-style-columns-layout
// 
// -moz-column-count: 3;
// -moz-column-gap: 10px;
// -moz-column-fill: auto;
// -webkit-column-count: 3;
// -webkit-column-gap: 10px;
// -webkit-column-fill: auto;
// column-count: 3;
// column-gap: 15px;
// column-fill: auto;