// 
// COLLEGE COURSE ORIENTATION HELPER FOR LUMINA
// @author Thuan Hu <nunobaba@gmail.com>
// 
// TODO: Grid structure for review panel.
// TODO: Review first column.
// TODO: Grid 2-col for right col.
// 

@import "nib"
@import "base/main"

globalFontFamily("Open Sans")
globalFontFamily("Open Sans Condensed")

//
// VARIABLES
// 

baseWidth   = 96%
baseBgColor = rgb(239,239,239)
baseFgColor = rgb(51,51,51)

indigo      = #003b9b

// 
// COMMONS
// 

.opensans
  font-family "Open Sans", arial, sans-serif

.opennarrow
  font-family "Open Sans Condensed", arial, sans-serif

.ico
  font-family "FontAwesome"

.ok
  visibility visible
  opacity 1

.h100
  height 100%

a
  text-decoration none

// 
// GRID STRUCTURE
// 

html, body
  @extend .h100
  @extend .opensans
  font-weight 300
  background-color baseBgColor
  overflow-x hidden

.container
  @extend .h100
  margin 0 auto
  width baseWidth

.container-wrap
  @extend .h100

.content-wrap
  rowSpan()


// 
// Header
// 

.logo
  position relative
  display inline-block
  padding-top 4em
  width 6.4em
  height 4em
  overflow hidden
  color indigo
  &:before
    @extend .ico
    pos absolute, left (gutWidth/8), top 0
    content "\f0ac"
    font-size 4em


// // This div block is hidden by default and transform-property
// // performs better than transiting by position-absolute.
// .sub-section

.hnav
  margin-top .8em

.hnav-it a
  padding .4em 0
  font-weight 700
  line-height 1.44
  color darken(baseFgColor, 24)

// 
// Content panel
// 

.content 
  position relative
  width 100%
  height 100%

.search h2
  color indigo
  font-weight 300
  font-size 3.2em
  strong
    display block
    font-weight 700

.search-form
  position relative
  margin-top .64em
  width 84%

// The underlayer of .search-box to simulate the placeholder attribute.
.search-label
.search-input
  @extend .opensans
  display inline-block
  vertical-align top
  padding .4em .56em
  width 100%
  font-size 1.6em
  font-weight 300
  line-height 1
  letter-spacing -.02em
  color indigo

.search-input
  pos absolute, left 0, top 0, z-index 4
  width 100%
  background-color transparent
  border-width 0
  outline 0

.search-label
  position relative
  line-height 1.28em
  border-bottom dp solid rgba(indigo, .24)
  &.ko
    color rgba(indigo, 0)
  &:before
  &:after
    content ""
    pos absolute, bottom 0
    width .64 * dp
    height 40%
    background-color rgba(indigo, .24)
  &:before
    left 0
  &:after
    right 0

.search-label-ico
  float right
  &:before
    @extend .ico
    content "\f002"
    font-size 1em
    color rgba(indigo, .24)

.card
  padding-top 1em
  height 14em

.card-wrap
  @extend .ptr
  height 100%
  padding gutWidth
  spy()

.card-title
  font-weight 300
  line-height 1.32

// 
// Review Panel
// 

.review
  opacity 0
  visibility hidden

// Governs the animation to the cards panel.
.to-review
  .finder
    position absolute
    transform translateX(getSpan(13))
    transition transform, .8s
  .review
    visibility visible
    opacity 1
    transition all .4s ease .56s

.prog-desc-wrap
  line-height 1.36
  color indigo

.prog-title
  position relative
  display block
  height 20em
  margin-bottom .72em
  h2
    @extend .search h2
    pos absolute, bottom 0
    font-weight 700
    line-height 1.12
    letter-spacing -.024em

.prog-category
  font-size .88em
  font-weight 700
  text-transform uppercase
  letter-spacing .04em

.prog-brief
  font-size 1.2em

.prog-fact
  colSpan(6)

.prog-fact-title
  @extend .opennarrow
  font-weight 300
  text-transform uppercase
  letter-spacing .08em



// 
// MEDIA QUERIES
// Breakpoints: [320 | 720 | 960* | 1200]
// Here layouts are for small or bigger screens only.
// 

// 320px+ phone : 1 columns
@media screen and (min-width: 20em)
  .hdr
  .content
  .search
  .cards
  .prog-desc
  .prog-facts
    colSpan(12)

  .card 
    colSpan(6)

// 960px+ tablet : Multi column
@media screen and (min-width: 64em)
  contentColSpan ?= 10
  headerColSpan  ?= 2

  .hdr
    colSpan(headerColSpan)
    height 100%

  .hdr-wrap
    position fixed
    margin-top 16em
    width (baseWidth * (headerColSpan / colTotal)) - 8%

  .content
    colSpan(contentColSpan)

  .content-wrap
    height 100%

  .search
  .cards
  .prog-desc
  .prog-facts
    colSpan(6)

  .search 
  .prog-desc
    height 100%

  .search-wrap
  .prog-desc-wrap
    position fixed
    width (baseWidth * (contentColSpan / 2 / colTotal)) - 2.4%
    height 100%

  .search-wrap
    padding-top 16em

  .prog-fact
    spy()