<head>
  <title>Lumina</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  {{> app}}
</body>


<template name="app">
  <div class="container {{transitToSection}} {{transitToReview}}">
    <div class="container-wrap gr">

      <header class="hdr">
        <div class="hdr-wrap">
          <div class="logo">
            <strong>Rio Salado</strong> College
          </div>
          <div class="sub">
            <div class="sub-section">{{sectionTitle}}</div>
          </div>
          <nav class="hnav">
            <ul>
              {{#foreach navTabs}}
              <li class="hnav-it tab-{{this.key}}">
                <a href="/{{this.key}}">{{this.val}}</a>
              </li>
              {{/foreach}}
            </ul>
          </nav>
        </div>
      </header>
    
      <div class="content">
        <section class="content-wrap finder">
          {{> brochure}}
        </section>
        <section class="content-wrap review">
          {{> review}}
        </section>
      </div>
    </div>
  </div>
</template>


<template name="brochure">
  {{#if discovering}}
    <div class="search">
      <div class="search-wrap">
        <h2><strong>Over {{programCount}}</strong>programs available</h2>
        <div class="search-form">
          <input class="search-input" tabindex="1"/>
          <label class="search-label">
            <span class="search-label-ico"></span> Find yours&hellip;
          </label>
        </div>
      </div>
    </div>

    <div class="cards">
      <div class="cards-wrap gr">
        {{#each programs}}
        <div class="card">
          <div class="card-wrap" id="{{_id}}">
            <div class="card-cover" style="background-image: url({{cover}})">
              <div class="card-kind card-kind-{{kind}}"></div>
            </div>
            <div class="card-content">
              <h2 class="card-title">{{title}}</h2>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  {{/if}}
</template>


<template name="review">
  {{#if card}}
    {{#with cardData}}

    <div class="prog-desc">
      <div class="prog-desc-wrap">
        <div class="prog-title">
          <h2>{{title}}</h2>
        </div>
        <div class="prog-brief">
          <span class="prog-category">{{category}} </span> / {{brief.long}}
        </div>
      </div>
    </div>

    <div class="prog-facts">
      <div class="prog-facts-wrap gr">
        <div class="prog-fact">{{salary.med}}</div>
        <div class="prog-fact prog-fact-salary">{{> _roi salary.med}}</div>
        <div class="prog-fact">{{salary.max}}</div>
      </div>
    </div>
    {{/with}}
  {{/if}}
</template>


<template name="_roi">
  <h4 class="prog-fact-title">Return on Investment</h4>
  <div class="roi-expenses">24,000</div>
  <div class="roi-salary">{{this}},000</div>
</template>
