<head>
  <title>Lumina</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  {{> app}}
</body>


<template name="app">
  <div class="container {{transitToSection}} {{transitToReview}}">
    <div class="container-wrap">

      <header class="hdr">
        <div class="hdr-wrap">
          <div class="logo">
            <strong>Rio Salado</strong> College
          </div>
          <div class="sub">
            <div class="sub-section">{{sectionTitle}}</div>
          </div>
          <nav class="hnav">
            <ul>
              {{#foreach navTabs}}
              <li class="hnav-it tab-{{this.key}}">
                <a href="/{{this.key}}">{{this.val}}</a>
              </li>
              {{/foreach}}
            </ul>
          </nav>
        </div>
      </header>
    
      <section class="content catalog">
        {{> brochure}}
      </section>
      <section class="content review">
        {{> review}}
      </section>
    </div>
  </div>
</template>


<template name="brochure">
  {{#if discovering}}
  <div class="content-wrap">

    <div class="search">
      <div class="search-wrap">
        <h2><strong>Over {{programCount}}</strong>programs available</h2>
        <div class="search-form">
          <input class="search-input" tabindex="1"/>
          <label class="search-label">
            <span class="search-label-ico"></span> Find yours&hellip;
          </label>
        </div>
      </div>
    </div>

    <div class="cards">
      {{#each programs}}
      <div class="card">
        <div class="card-wrap" id="{{_id}}">
          <div class="card-cover" style="background-image: url({{cover}})">
            <div class="card-kind card-kind-{{kind}}"></div>
          </div>
          <div class="card-content">
            <h2 class="card-title">{{title}}</h2>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
  {{/if}}
</template>


<template name="review">
  <div class="review-wrap">
    {{#if card}}
      {{#with cardData}}
      <div class="prog-desc">
        <h2 class="prog-title">{{title}}</h2>
        <div class="prog-brief">{{brief.long}}</div>
      </div>

      <div class="prog-data">
        <div class="prog-content">{{brief.long}}</div>
      </div>
      {{/with}}
    {{/if}}
  </div>
</template>



